parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:get\\(\\)\\.$#"
			count: 2
			path: src/Form/DisplayBuilderForm.php

		-
			message: "#^Cannot access offset 'icon' on array\\|Drupal\\\\Component\\\\Plugin\\\\Definition\\\\PluginDefinitionInterface\\.$#"
			count: 1
			path: src/PanelPluginBase.php

		-
			message: "#^Cannot access offset 'id' on array\\|Drupal\\\\Component\\\\Plugin\\\\Definition\\\\PluginDefinitionInterface\\.$#"
			count: 1
			path: src/PanelPluginBase.php

		-
			message: "#^Cannot access offset 'keyboard_shortcuts' on array\\|Drupal\\\\Component\\\\Plugin\\\\Definition\\\\PluginDefinitionInterface\\.$#"
			count: 1
			path: src/PanelPluginBase.php

		-
			message: "#^Cannot access offset 'label' on array\\|Drupal\\\\Component\\\\Plugin\\\\Definition\\\\PluginDefinitionInterface\\.$#"
			count: 1
			path: src/PanelPluginBase.php

		-
			message: "#^Cannot access offset 'type' on array\\|Drupal\\\\Component\\\\Plugin\\\\Definition\\\\PluginDefinitionInterface\\.$#"
			count: 1
			path: src/PanelPluginManager.php

		-
			message: "#^Call to an undefined method Drupal\\\\Component\\\\Plugin\\\\PluginManagerInterface\\:\\:getSource\\(\\)\\.$#"
			count: 1
			path: src/SlotSourceProxy.php
